.locked-body {
  overflow: hidden;
}

.modal-container {
  position: fixed;
  height: 740px;
  width: 1165px;
  top: 2%;
  left: calc((100vw - 1165px) / 2);
  top: calc((100vh - 740px) / 2);
  background: #EEE;
  z-index: 5;
}

.hover-pointer:hover {
  cursor: pointer;
}

.modal-left-arrow {
  position: relative;
  top: 47%;
  left: 8px;
}

.modal-right-arrow {
  position: relative;
  left: 1103px;
  top: 47%;
}

.modal {
  position: fixed;
  height: 640px;
  width: 1065px;
  top: 2%;
  left: calc((100vw - 1065px) / 2);
  top: calc((100vh - 640px) / 2);
  z-index: 5;
  box-shadow: 2px 2px 2px grey
}

.modal-close {
  float: right;
  color: black;
  z-index: 10;
  top: 1%;
  right: 1%;
  position: absolute;
}

.modal-left {
  width: 640px;
  float: left;
  height: 100%;
  display: inline-block;
}

.modal-right {
  position: relative;
  width: 425px;
  background: white;
  float: left;
  height: 100%;
  display: inline-block;
}

#veil {
  position: fixed;
  top: 0;
  left: 0;
  opacity: .8;
  background: black;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

.big-picture video {
  position: relative;
  top: -90px;
}

.pic-nav {
  background: rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: hidden;
  height: 90px;
  white-space: nowrap;
  position: absolute;
  bottom: 0;
  width: 640px;
}

.pic-nav > div:first-of-type img {
  filter: blur(3px);
}

.pic-nav > div:nth-of-type(8) img {
  filter: blur(3px);
}

.pic-nav > span {
  position: absolute;
  z-index: 5;
  top: 31px;
}

.pic-nav-left-arrow {
  left: 5px;
}

.pic-nav-right-arrow {
  left: 608px;
}

.thumbnail {
  display: inline-block;
  margin: 5px;
  position: relative;
  left: -45px;
}

.thumbnail > img {
  display: inline-block;
  width: 80px;
  height: 80px;
}

.small-picture {
  display: inline-block;
  margin: 3%;
  width: 27%;
}

.small-picture > img {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.info > div {
  margin: 20px;
}

.info-heading {
  border-bottom: solid 1px gray;
  margin-bottom: 25px;
}

.info-heading h5 {
  font-weight: lighter;
  color: lightgray;
}

.info-comment {
  margin-top: 25px;
}

.rating-star {
  margin-right: 5px;
}

.pic-menu {
  position: absolute;
  top: 0;
  float: right;
}

.pic-menu span {
  float: right;
}

@media (max-width: 1200px) {
  .modal-container {
    /*position: relative;*/
    height: 900px;
    width: 90%;
    min-width: 700px;
    top: 2%;
    left: 5%;
    top: 10px;
    background: #EEE;
    z-index: 5;
  }

  .modal {
    position: relative;
    height: 100%;
    /* width: 1065px; */
    left: 5%;
    margin: 0;
    top: -25px;
    z-index: 5;
    box-shadow: none;
    width: 90%;
  }

  .modal-left {
    width: 100%;
    height: 61%;
  }

  .big-picture > img {
    width: 550px;
    left: calc((100% - 550px)/2);
    position: relative;
  }

  .modal-right {
    position: relative;
    width: 550px;
    height: 37%;
    background: white;
    left: calc((100% - 550px)/2);
  }

  .pic-nav {
    background: rgba(0, 0, 0, 0.6);
    overflow-x: hidden;
    overflow-y: hidden;
    height: 90px;
    white-space: nowrap;
    position: relative;
    bottom: 0;
    top: -94px;
    width: 550px;
    left: calc((100% - 550px)/2);
  }

  .thumbnail > img {
    width: 70px;
  }

  .pic-nav span {
    color: white;
  }

  .pic-nav-right-arrow {
    left: 519px;
  }

  .modal-right-arrow {
    left: 92%;
    top: 400px;
  }

  .modal-left-arrow {
    top: 400px;
  }
}
